@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Manrope:wght@400;500;600;700;800&display=swap');

/* ----------------------------
        Fonts & Styles
------------------------------- */

.manrope-font {
    font-family: 'Manrope', sans-serif;
    color: #FFFFFF;
}

.berkshire-font {
    font-family: 'Berkshire Swash', cursive;
    color: #FF5E19;
}